* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1320px;
    margin: 0 auto 0 auto;
    padding: 0 15px;
}

ul{
    list-style-type: none;
}

.top-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    border-bottom: #E3E3E3;
}

.roboto-300 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 300;
  }

  .top-nav-link{
      display:flex;
      text-decoration: none;
      color:black;
  }

  .top-nav-link-item {
      display: flex;
      gap: 15px;
  }

  .top-nav-link-vrapper{
      display:flex;
      align-items: center;
  }

  .bot-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .bot-nav-link{
      text-decoration: none;
      color: black;
    font-size: 16px;
    line-height: 24px;

  }

h1{
    font-size: 74px;

}

.hero-section-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 50px;
    font-size: 30px;
    padding: 50px 50px 50px 0;
}
.hero-section{
    padding: 50px 0;
}
.hero-section-img{
    display: flex;
    justify-content: flex-end;
}

.hero-button{
    display:flex;
    align-items: center;
    width: 100px;
    
}

.flex  {
    display: flex;
}

.hero-section-div{
    display: flex;
    
}
.brand-section-div{
    display: flex;
    margin: 50px 0 50px 0;
}

.brand-section{
    padding: 40px 0;
}

.brand-ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.models{
    display: flex;
}

.cotolog{
    background-image: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),
    url(img/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 776px;
    align-items: center;
    
}

.h2-cotolog{
    color: white;
    font-size: 100px;
}

.cotolog-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 35px;
    justify-content: center;
    text-align: left;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding-right: 400px;
}
.p-cotolog{
    color: white;
    
}

.colaction-btn{
    padding: 12px;
}

.top-footer{
    margin: 40px;
    display: flex;
    gap: 35px;
    justify-content: space-between;
}
.footer{
    background-color: white;
}
.first-collumn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.second-collumn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom-footer{
    background-color: rgb(54, 52, 52);
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    color: white;
}

