* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1320px;
    margin: 0 auto 0 auto;
    padding: 0 15px;
}

ul{
    list-style-type: none;
}

.top-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    border-bottom: #E3E3E3;
}

.roboto-300 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 300;
  }

  .top-nav-link{
      display:flex;
      text-decoration: none;
      color:black;
  }

  .top-nav-link-item {
      display: flex;
      gap: 15px;
  }

  .top-nav-link-vrapper{
      display:flex;
      align-items: center;
  }

  .bot-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .bot-nav-link{
      text-decoration: none;
      color: black;
    font-size: 16px;
    line-height: 24px;

  }

h1{
    font-size: 74px;

}

.hero-section-text{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 50px;
    font-size: 30px;
    padding: 50px;
}
.hero-section{
    max-width: 1226px;
    margin: 100px auto 100px auto;
    padding: 40px 40px;
    
}

.hero-section-img{
    display: flex;
    justify-content: flex-end;
}

.hero-button{
    display:flex;
    align-items: center;
    width: 100px;
}

.flex  {
    display: flex;
}

.hero-section-div{
    display: flex;
    
}